footer.page-footer
	ul.unstyled.social-links
		li: a(href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.christmastracker.com" data-via="AshNolan_") Tweet
		li
			.fb-like(data-href="http://www.christmastracker.com" data-width="170px" data-layout="button_count" data-action="recommend" data-share="true")		
	
	ul.unstyled.page-footer-links
		li: a.page-footer-donate(href="https://www.givey.com/christmastracker/") Donate to Shelter
		li: a.page-footer-info(href="#helpers") Santa’s Helpers