
header.page-header
	.page-header-text.symbol--christmas
		h2.page-header-title.illustItem #{title}
		p.page-header-total-wrapper
			- if (symbols !== null) {
			span.page-header-total
				span.symbol-total #{symbols.christmas.total}
				span.page-header-total-subtext christmas mentions today
			- }


	//- p #{pageContent}