/**
 * Global app/site styles
 */

html, body,
.l-container {
	width: 100%;
	height: 100%;
}

body {
	background-color: $color-bg;
	color: #333;

	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH5JREFUeNpiZMADfv77pwCkQPgBOxPTA1qoxafIAYj/Q/F7IBaghVomPA51QGKDDDSghVp8DjiAxP4AxBdooZZx0KaBUTBiACO9EhtOtfQqcHCpZaJXgYNLLRO9Chxcagc+DYyCQVEOjDZIRhskow2SUTDaIBltkAxkgwQgwAAjgVm5fvLtdwAAAABJRU5ErkJggg==');
	background-repeat: repeat;
}

/**
 * Default layout container
 */
.l-container {
	padding-left: #{$layout-margin}px;
	padding-right: #{$layout-margin}px;
	width: 95%;
	max-width: #{$layout-max-width}px;
	margin: 0 auto;


	.lt-ie9 & {
		min-width: #{$layout-min-width}px;
	}
}
#scroll-proxy {
	height: 10000px;
}

		.symbol {
			position: relative;
		}
			.symbol-title {
				margin-bottom: 0;
				@include font-size(18);
			}
			.symbol-link {
				display: block;
			}

			.symbol-total {
				letter-spacing: 1px;

				.symbol--snow & {
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			//specific text sizing for certain symbols
			.symbol-title,
			.symbol-total {
				//where we want the title and count on one line
				.symbol--doves & {
					display: inline-block;
				}
				.symbol--holly &,
				.symbol--doves & {
					@include font-size(16);
				}
			}


// Symbol styling – full list
	// .symbols {
	// 	overflow: hidden;
	// 	padding-bottom: 50px;
	// }
	// 	.symbol {
	// 		@include respond-min($bp-mid) {
	// 			float: left;
	// 			width: 25%;
	// 		}
	// }