

.overlay {
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	padding-left: 5%;
	padding-right: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;

	& .btn {
		margin-bottom: 20px;
	}
}
	.overlay-contents {
		background-color: #fff;
		padding: 30px;

		border-radius: 6px;
	}

	.infoWindow-baseText {
		border-top: 1px solid #ccc;
		padding-top: 20px;
	}

.overlay--intro {
	@include respond-max($bp-narrow - 1) {
		z-index: inherit;
		opacity: 1 !important;
		position: static;
		transform: none;
		margin-bottom: 20px;
		width: 94%;
		padding: 0;

		& .infoWindow-title,
		& .btn {
			display: none;
		}
	}
}


// hiding and showing different text at different widths
.infoWindow-subText {
	@include respond-max($bp-narrow - 1) {
		display: none;
	}
}
.infoWindow-subText--narrow {
	@include respond-min($bp-narrow) {
		display: none;
	}
}


//helper overlay
	.info-helper {
		float: left;
		width: 30%;
	}
		.info-helper-role {
			display: block;
		}