

	//SYMBOL RELATED STUFF
		.symbol {
			position: relative;
		}
			.symbol-title {
				@include font-size(18);

				.symbol--inline & {
					margin-right: 6px;
				}
			}
			.symbol-link {
				display: block;
				color: #000;

				//turquoise
				.symbol--snowflake &,
				.symbol--snow &,
				.symbol--sledge &,
				.symbol--peace & { color: $turquoise; }

				//brown
				.symbol--ivy &,
				.illustItem--sleigh &,
				.symbol--wreath & { color: $brown; }

				//white
				.symbol--snowman &,
				.symbol--partridge &,
				.symbol--cold &,
				.symbol--mary &,
				.symbol--joseph &,
				.symbol--wisemen &,
				.symbol--shepherd &,
				.symbol--stable &,
				.symbol--tinsel &,
				.symbol--scrooge & {
					color: #fff;
				}

				.symbol--money & {
					color: #BB5169;
				}

				.symbol--christmaslights &,
				.symbol--shopping & {
					color: $pink;
				}

				.symbol--christmastree & { color: $greenDark; }

				.symbol--holly & { color: $red; }
				.symbol--robin &,
				.symbol--santa & {
					color: $green;
				}
				.symbol--fireplace &,
				.symbol--grinch &,
				.symbol--jumper & {
					color: $yellowPale;
				}
				.symbol--star &,
				.symbol--mincepie & {
					color: $yellow;
				}

				.symbol--candle &,
				.symbol--mistletoe &,
				.symbol--advent &,
				.symbol--mulledwine &,
				.symbol--sherry & { color: $turquoiseDark; }

				.symbol--stocking & { color: $redBrown; }
				.symbol--carols & { color: $brownLight; }


				.symbol--gingerbread & {
					color: $orange;
				}

				.symbol--rudolph &,
				.symbol--dancer &,
				.symbol--vixen &,
				.symbol--cupid &,
				.symbol--blitzen & {
					color: $blueLight;
				}

				.symbol--dasher &,
				.symbol--prancer &,
				.symbol--comet &,
				.symbol--donner & {
					color: $purple;
				}
			}

			.symbol-total {
				letter-spacing: 1px;
			}

			//specific text sizing for certain symbols
			.symbol-title,
			.symbol-total {
				margin-bottom: 0;

				//where we want the title and count on one line
				.symbol--inline & {
					display: inline-block;
					@include font-size(18);
				}
				.symbol--holly &,
				.symbol--ivy &,
				.symbol--doves & {
					@include font-size(16);
				}
				.symbol--yuletide &,
				.symbol--festive &,
				.symbol--roast & {
					@include font-size(20);
				}
			}

			//hide symbols until needed
			.overlay,
			.symbols--inside,
			.symbols--outside {
				@include opacity(100);
				transition: opacity 300ms;

				&.inactive {
					z-index: -10;
					transition: opacity 300ms, z-index 0ms 300ms;
					@include opacity(0);
				}
			}

			.symbols--inside,
			.symbols--outside {
				position: absolute;
				width: 100%;
				height: 100%;
			}



// Symbol styling – full list
	.symbol-list-wrapper {
		width: 94%;
		max-width: 1000px;
		margin-left: auto;	margin-right: auto;
		background: #fff;
		padding: 30px;
		border: 12px solid $turquoise;

		@include respond-min($bp-narrow) {
			z-index: 30;
			position: absolute;
			top: 145px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 84%;
			margin-bottom: 140px;

			&.inactive {
				z-index: -10;
				transition: opacity 300ms, z-index 0ms 300ms;
				@include opacity(0);
			}
		}

		transition: opacity 300ms;


		.btn--close {
			position: absolute;
			top: 20px;
			right: 20px;
			z-index: 10;

			@include respond-max($bp-narrow - 1) {
				display: none;
			}
		}
	}
	.symbol-list {
		overflow: hidden;
		// padding-bottom: 50px;
		//
		& > .symbol {
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAn1BMVEUxqaYxqaYxqaY4rag2rKc8r6kxqaYxqaYxqaY1q6cxqaYxqaYxqaYxqaYxqaYxqaYxqaYAAAAfoJcZnZIlo5yv3dcioZUcn5XC5eFVt7AopJrY7+7l9PSMzskyqJ1evLeV09A8rKBWtqtiw7PM6ullv7yY1NM8r6k4ragrpqE1q6cuqKRDsqtNuK5YvrBGtKxUvK8/sapfwbJbwLExqaZS6a5IAAAAEnRSTlMwz+/vv+9AcJ/Pv4Cvj2AgEAAPa/NDAAAAm0lEQVQI1wXBBUIDQRBFwQ4EkqzOxx3i62Pv/mejyiSpqVY3Rd1KMsmt55RzWmIpmdwuzQPQJV/LtM0enl6APN1bOwXg9W2EIVW2CVeAE0C4WpnpD3+Xr8v3D3O0MtPvf8+f5/cP5mhNmIDxBLDcWRsX4PF5hO64NdWLh/4BhhRbk9vl0AHx6BuZ5CqfU07htpFMkqwuimrjJP0Du/MaE+sUTYYAAAAASUVORK5CYII=');
			background-repeat: no-repeat;
			background-position: 0 3px;
			padding-left: 20px;
		}

		& .symbol-label {
			@include respond-max($bp-narrow - 1) {
				margin-bottom: 10px;
			}
		}

		& .symbol-total {
			@include respond-min($bp-narrow) {
				display: block;
				font-size: inherit;
			}
		}
	}
		.symbol {

			& + .symbol {
				@include respond-max($bp-narrow - 1) {
					border-top: 1px solid #ccc;
					padding-top: 10px;
				}
			}

			@include respond-max($bp-narrow - 1) {
				text-align: center;
			}
			@include respond-min($bp-narrow) {
				float: left;
				width: 50%;
			}
			@include respond-min($bp-wide) {
				width: 33%;
			}

	}







