extends layouts/default

block vars
	- var page = 'system'
	- var title = 'This is your 404 page calling'
	- var subText = 'Sad times.  Maybe you\'ve lost your way?'
	- var urlFriendlyShareText = encodeURI(shareText);


block content
	.page-content-error
		h2.page-content-error-title ☹ Christmas ’aint here
		p Try 
			a(href="http://www.christmastracker.com") reloading the page 
			| – if that doesnt work, something has probably blown up, so please
			a(href="http://www.twitter.com/AshNolan_") let us know you’re having issues
			| .