doctype html
html
	block vars
	include ../includes/head

	- if (subText === undefined)
		- subText = 'Oops'

	body
		div(class="l-container #{page}")
			include ../includes/header

			.illust-container
				.illust-level.illust-level--intro
					.illustItem.illustItem--snowflake.symbol.symbol--snowflake
						a.symbol-link(href="")
							h2.symbol-title Snowflake
							p.symbol-total

					.illustItem.illustItem--doves.symbol.symbol--doves
						h2.symbol-title Doves
						p.symbol-total

					.illustItem.illustItem--holly.symbol.symbol--holly
						h2.symbol-title Holly
						p.symbol-total

					.illustItem.illustItem--ivy.symbol.symbol--ivy
						h2.symbol-title Ivy
						p.symbol-total

					.illustItem.illustItem--snowglobe
						.symbol.symbol--snow
							p.symbol-total

						.illust-level--1
							.illustItem.illustItem--town
								.illustItem.illustItem--snowman.symbol.symbol--snowman
									h2.symbol-title Snowman
									p.symbol-total

					//- .symbol.symbol--santa
					//- 	.illustItem.illustItem--santa
					//- 		p.symbol-total





			//- .symbols
			//- 	include ../symbols/index

			#scroll-proxy

			include ../includes/footer

	include ../includes/foot
